*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.banner{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    padding: 100px;
    background: #fff;
    transition: 0.5s; 
}

 header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    padding: 20px 100px;
    justify-content: space-between;
    align-items: center; 
 
} 

 header .logo{
    color: rgb(34, 29, 23);
    text-decoration: none;
     font-size: 2em;
    font-weight: 700; 
    transition: 0.5s;
}

header .logo span{
    color: orange;
    font-size: 2em;
}

header ul{
    display: flex;
    gap: 80px; 
    
} 

 header ul li{
    list-style: none;
}

header ul li a{
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    color: #333;
    transition: 0.5s;
    
} 

.content{
    position: relative;
    max-width: 700px;
}

.content h2{
    font-size: 6em;
    color: #333;
    transition: 0.5s;
}

.content p{
    font-size: 1.2em;
    color: #666;
    margin: 10px 0;
    transition: 0.5s;
    margin-bottom: 30px;
}

.content button{
    position: relative;
    background: orange;
    color: #fff;
    outline: none;
    font-size: 1.25em;
    padding: 15px 35px;
    letter-spacing: 5px;
    margin-right: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.content button.chat{
    background: transparent;
    color: #333;
    font-weight: 700;
}

.dayNight{
    position: absolute;
    bottom: 25px;
    left: 50%;
    width: 60px;
    height: 60px;
    background-color: #f0f0f0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    cursor: pointer;
    transition: 0.5s;
}

.dayNight ion-icon:nth-child(2),
.banner.night .dayNight ion-icon:nth-child(1){
   display: none;
}

.banner.night .dayNight ion-icon:nth-child(2){
    display: block;
}
.banner.night{
    background: #333;

} 
 
.banner.night .dayNight{
    color: #fff;
    background: #444;
}
 
.banner.night header .logo,
.banner.night .content h2,
.banner.night .content p,
.banner.night .content button.chat,
.banner.night header ul li a{
   color: #fff;
}